*.wav
*.mp3
*.ogg
*.flac
*.aiff
*.aif
*.m4a
*.wma
*.aac
*.mid
*.midi
*.mod
*.opus
*.webm
*.amr
*.3gp
*.3g2
*.m4v
*.mp4
*.mov
*.wmv
*.avi
*.mkv
*.flv
*.vob
*.ogv
*.ogg
*.drc
*.gif
*.gifv
*.mng
*.avi
*.mov
*.qt
*.wmv
*.yuv
*.rm
*.rmvb  // RealMedia        
uploads/
__pycache__/